
<div class="container">
    <div class="row">
        <ng-container *ngFor="let a of articles">
            <div class="col-lg-2 col-sm-4 text-center">
                <div class="card card-article"  (click)="ajoute(a.id)">
                    <img *ngIf="false" src="{{a.illustration}}" class="card-img-top" alt="{{a.nom}}" style="max-height:100px;">
                    <div class="card-body">
                      <h5 class="card-title">{{a.nom}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted"> 
                          {{a.prix/100 | number:'1.2-2' }} € </h6>
                      <h6 [ngClass]="a.panier < a.stock ? '': 'bg-secondary'"> 
                          Stock  {{a.stock}} - {{a.panier}} </h6>
                    </div>
                  </div>


            </div>
        </ng-container>
    </div>
</div>

