<!--
  <h1>Ma Boutique</h1>
<nav>
  <ul>
    <li><a routerLink="/panier" routerLinkActive="active">Panier</a></li>
    <li><a routerLink="/boutique" routerLinkActive="active">Catalogue</a></li>
  </ul>
</nav>
<hr> 
-->
<!-- The routed views render in the <router-outlet>-->


<router-outlet></router-outlet>
<hr>
Il reste à 
<br>
- faire une grille des produis avec des catégories
<br>
- faire bouton payer dans le panier qui renvoie un PUSH vers API  (horodatage sur le serveur) 
<br>
- 
Difficultés à demander à JF. 
<ul>
  <li>Faire logger</li>
  <li>Pagination des articles </li> 
  <li> Tests unitaires : Que teste-t-on, et comment ?</li>
</ul>